# Assessment - 2 Gradable

- Each question carries 3 marks
- Marks will be assigned in terms of:
    
    **1. Expected output**
    
    **2. Quality and Explainability of code**

    ***Go back through the script and type a comment above each line explaining in English what it does.***

    **3. Copied code, if found, will result in 0 marks for that question. To avoid this make as much comments in the code to explain the approach**

### 1.

Write a Python program to perform following tasks on a list

<ol>
    <li>Create an empty list with name l1</li>
    <li>Add atleast 5 number to the l1</li>
    <li>Add 100 at 2<sup>nd</sup> position</li>
    <li>Add 1000 at front of the l1</li>
    <li>Delete element at 3<sup>rd</sup> position</li>
    <li>Display elements at even position</li>
    <li>Display elements in reverse order</li>
</ol>

'100'

### 2. 

Grab ``StarAgile`` from the following Dictionaries

d_difficult = {'k1':[{'nest_key':['this is deep',['StarAgile']]}]}

d_irritating = {'k1':[1,2,{'k2':['this is not easy',{'VeryIrriating':[1,2,['StarAgile']]}]}]}

In [ ]:
{'k1':[1,2,{'k2':['this is not easy',{'VeryIrriating':[1,2,['StarAgile']]}]}]}

### 3.

Write a program to accept a string from the user and display characters that are present at an even index number.

For example, str = "judgemental" so you should display ‘j’, ‘d’, ‘e’, ‘e’, ‘t’, ‘l’.

### 4. 

Convert the Float Value of '3.8' into Integer, Complex, Binary and Hexidecimal format

### 5. 

Write a program to accept five names from the user and store it in a Tuple 'T1'

In [2]:
name1 = input('Enter first name  : ')
name2 = input('Enter second name : ')
name3 = input('Enter third name  : ')
name4 = input('Enter fourth name : ')
name5 = input('Enter fifth name  : ')

names = (name1, name2, name3, name4, name5)
names

Enter first name  : Babulal
Enter second name : Dhaniram
Enter third name  : Chunnilal
Enter fourth name : Chiranjilal
Enter fifth name  : Dholakram

('Babulal', 'Dhaniram', 'Chunnilal', 'Chiranjilal', 'Dholakram')

In [4]:
name1

'Babulal'