In [45]:
import mysql.connector

In [46]:
def start():
    print('\n', '='*100)
    print('Select an opertion : ')
    print('1 for Insert')
    print('2 for Delete')
    print('3 for Show')
    print('4 for update')
    print('5 to query the database')
    op = int(input('Enter the number: '))
    
    if op == 1:
        print('Enter the details(empid,empname,empage,deptid,salary) :')
        details = input().split(',')
        empid, empname, empage,deptid,salary = int(details[0]), details[1], int(details[2]), int(details[3]), int(details[4])
        insert(empid, empname, empage, deptid, salary)
    elif op == 2:
        empid = int(input('Enter the employee id : '))
        delete(empid)
    elif op == 3:
        print('The details are : ')
        show()
    elif op == 4:
        print('Enter column, new_data, empid : ')
        data = input().split(',')
        column,new_data,empid = data[0], data[1], int(data[2])
        update(column,new_data,empid)
    elif op == 5:
        print('Enter the select query')
        select_query = input()
        query(select_query)
    else:
        print('Invalid input')

In [47]:
def insert(empid, empname, empage,deptid,salary):
    mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '1234',
                               database = 'practice')
    mycursor = mydb.cursor()
    
    query = '''INSERT INTO employee2(empid,empname, empage,deptid,salary)
           VALUES (%s, %s, %s, %s, %s)'''
    val = (empid, empname, empage,deptid,salary)
    mycursor.execute(query, val)
    
    mydb.commit()
    mydb.close()
    print('Insert operation successful')

In [48]:
def delete(empid):
    mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '1234',
                               database = 'practice')
    mycursor = mydb.cursor()
    query = 'DELETE FROM employee2 WHERE empid = {}'.format(empid)
    mycursor.execute(query)
    
    mydb.commit()
    mydb.close()
    print('Delete operation successful')

In [49]:
def show():
    mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '1234',
                               database = 'practice')
    mycursor = mydb.cursor()
    query = 'SELECT * FROM employee2'
    mycursor.execute(query)
    for row in mycursor:
        print(row)
    
    mydb.commit()
    mydb.close()

In [53]:
def update(column,new_data,empid):
    mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '1234',
                               database = 'practice')
    mycursor = mydb.cursor()
    
    if column != 'empname':
        new_data = int(new_data)
        
    query = 'UPDATE employee2 SET {} = {} WHERE empid = {}'.format(column, new_data, empid)
    mycursor.execute(query)
    
    mydb.commit()
    mydb.close()
    print('Update operation Successful')

In [51]:
def query(select_query):
    mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '1234',
                               database = 'practice')
    mycursor = mydb.cursor()
    mycursor.execute(select_query)
    for row in mycursor:
        print(row)
    
    mydb.commit()
    mydb.close()

In [54]:
check = True
while(check):
    start()
    temp = input('Enter exit to exit : ')
    if temp == 'exit':
        check = False

 ====================================================================================================
Select an opertion :
1 for Insert
2 for Delete
3 for Show
4 for update
5 to query the database
Enter the number: 4
Enter column, new_data, empid :
salary,150000,1
Update operation Successful
Enter exit to exit : f

 ====================================================================================================
Select an opertion :
1 for Insert
2 for Delete
3 for Show
4 for update
5 to query the database
Enter the number: 3
The details are :
(1, 'Aman', 30, 101, 150000)
(2, 'Anand', 35, 104, 110000)
(3, 'Vishal', 28, 103, 90000)
(4, 'Bhuvan', 40, 101, 120000)
(5, 'Geetha', 26, 103, 130000)
(6, 'Shalini', 31, 104, 80000)
(7, 'Shyam', 37, 106, 80000)
(8, 'Shubham', 31, 107, 60000)
(9, 'Vidyut', 38, 104, 90000)
Enter exit to exit : exit