# Data Types In Python
- **int** (for integers )
- **float** (for floating point numbers)
- **str** (for strings )
- **list**
- **tuple**
- **dict** (for dictionary)
- **set**
- **bool**

## Dynamic Typing
Python uses *dynamic typing*, meaning you can reassign variables to different data types. This makes Python very flexible in assigning data types; it differs from other languages that are *statically typed*.

In [5]:
a = 5     # a is variable, 5 is an integer literal
type(a)

int

In [6]:
a = 5.5
type(a)

float

In [7]:
a = 'hello'
type(a)

str

### Pros and Cons of Dynamic Typing
#### Pros of Dynamic Typing
* very easy to work with
* faster development time

#### Cons of Dynamic Typing
* may result in unexpected bugs!

# Numbers (int and float)

In [8]:
a = 5
type(a)

int

In [9]:
b = 5.5
type(b)

float

In [10]:
b = 5.0
type(b)

float

In [12]:
# Assignment operation
x = 5                              # assigning an integer literal to a variable
print(x)
y = x                              # assigning an integer variable to a variable
print(y)
a = 5 + 10                         # assigning result of an expression to a variable
print(a)
a = x + y
print(a)
a = x + 5 - 2 + y
print(a)
a,b,c = 5,10,15                    # multiple assignment
print(a,b,c)
a = b = c = 5
print(a,b,c)

5
5
15
10
13
5 10 15
5 5 5

- **Operator** :  Specifies the type of operation
- **Operands** :  Operation is performed on operands
- **Expressions** : A collection or chain of operands and operators

In [11]:
a = 10
b = 20
a + b     # a and b are operands, + is an operator

30

In [12]:
a + b - 10 + 5 * 6 / 2    # Expression

35.0

In [13]:
6 + 10 / 2

11.0

In [14]:
(6 + 10) / 2

8.0

## Arithmatic Operations

In [13]:
x = 10
y = 5

print('x + y = ', x + y)
print('x - y = ', x - y)
print('x * y = ', x * y)
print('x / y = ', x / y)
print('x % y = ', x % y)
print('x // y = ', x // y)
print('x ** y = ', x ** y)

x + y =  15
x - y =  5
x * y =  50
x / y =  2.0
x % y =  0
x // y =  2
x ** y =  100000

In [15]:
# normal division
x = 25
y = 4
z = x / y
print(z)
type(z)

6.25

float

In [14]:
# normal division
x = 25
y = 5
z = x / y
print(z)
type(z)                 # normal division always returns a float type

5.0

float

In [15]:
# floor division
x = 25
y = 5
z = x // y
print(z)
type(z)

5

int

In [16]:
# floor division
x = 25
y = 4
z = x // y
print(z)
type(z)

6

int

In [17]:
a = -24
b = 5
a // b

-5

In [18]:
# floor division
x = 25.0
y = 4
z = x // y
print(z)
type(z)                  # if at least one of the operands is float, the result will also be float

6.0

float

In [22]:
# modulous operator
x = 25
y = 7
x % y

4

In [23]:
# power operator
x = 2
y = 4
x ** y         # 2 raise to power 4

16

In [25]:
10 ** 3

1000

In [26]:
16 ** 0.5         # Square root

4.0

In [28]:
16 ** (1/2)      # Square root

4.0

In [29]:
27 ** (1/3)      # Cube root

3.0

## Shorthand Notation

In [30]:
salary = 100000
salary = salary + 10000
salary

110000

In [31]:
salary = 100000
salary = salary - 10000
salary

90000

In [27]:
salary = 100000
salary += 10000             # salary = salary + 10000
salary

110000

In [32]:
x = 15
y = 4
print('x =',x)
x+=y                       # x = x + y
print('x += y =',x)
x-=y                       # x = x - y
print('x -= y =',x)
x*=y                       # x = x * y 
print('x *= y =',x)
x/=y                       # x = x / y
print('x /= y =',x)
x//=y                      # x = x // y
print('x //= y =',x)
x**=y                      # x = x ** y
print('x **= y =',x)
x %= 10                    # x = x % y
print('x %= y = ',x)

x = 15
x += y = 19
x -= y = 15
x *= y = 60
x /= y = 15.0
x //= y = 3.0
x **= y = 81.0
x %= y =  1.0

## Comparison Operations

In [33]:
x = 20
y = 10
print('x > y  is',x > y)
print('x < y  is',x < y)
print('x == y is',x == y)    # single = is assignment operation, double == is equality(comparison) operation      
print('x != y is',x != y)
print('x >= y is',x >= y)
print('x <= y is',x <= y)

x > y  is True
x < y  is False
x == y is False
x != y is True
x >= y is True
x <= y is False

In [34]:
a = 10
b = 12
a == b               # Comparison operation

False

In [36]:
a = 10
b = 10
a == b

True

In [37]:
a = 10
b = 20
a = b               # Assignment operation
a

20

In [38]:
a = 5
b = 5
a != b

False

In [39]:
a = 6
b = 5
a != b

True

In [40]:
a > b

True

In [41]:
a < b

False

In [42]:
a = 5
b = 5
a > b

False

In [43]:
a = 5
b = 5
a >= b

True

In [44]:
a <= b

True

## Identity Operator

In [45]:
a = 5
b = 5
a is b

True

In [46]:
a = 5
b = 6
a is b

False

In [47]:
s1 = 'Hello'
s2 = 'Hello'
s1 is s2

True

In [48]:
a = 5
b = 5.0
a == b

True

In [49]:
a = 5
b = 5.0
a is b

False

## Membership operator

In [50]:
s = 'membership'
'm' in s

True

In [51]:
'M' in s

False

In [52]:
'z' in s

False

In [53]:
'member' in s

True

In [76]:
l = [1,2,3,4,5]
5 in l

True

In [55]:
6 in l

False

### Variable naming conventions
- Alphabets, numbers and _ can be used
- Variable name can not start with a number

In [57]:
# Valid names
a = 5
abc = 7
salary = 200000
x1 = 5
x2 = 6
num1 = 5
num2 = 6
first_name = 'Utkarsh'
last_name = 'Sharma'
_name = 'Utkarsh Sharma'

A = 4
a = 6

In [58]:
first name = 'Utkarsh'

SyntaxError: invalid syntax (<ipython-input-58-01682f4457c8>, line 1)

In [59]:
1num = 6

SyntaxError: invalid syntax (<ipython-input-59-13fddc986ab6>, line 1)

In [64]:
first_name@ = 'Utkarsh'

SyntaxError: invalid syntax (<ipython-input-64-5b677dd93102>, line 1)

## Standards
- Do not use capital letters to name variables
- Use underscore only to connect words in avariable name
- Do not use camel casing for naming variables
- Create variable names in a manner which indicated what is stored in them

In [68]:
_ab_c = int(input())
_ab_c = _ab_c + 10000
print(_ab_c)

100000
110000

In [69]:
# Readability is important
salary = int(input('Enter the salary : '))
salary = salary + 10000
print('The salary after an increment of 10000 is : ', salary)

Enter the salary : 100000
The salary after an increment of 10000 is :  110000

# ================================================

# Strings
- A string is a sequence of characters

In [3]:
s = 'Hello'
type(s)

str

In [4]:
s = "Hello"
type(s)

str

In [5]:
s = 'My name is "Spongebob"'
print(s)

My name is "Spongebob"

In [6]:
s = "My name is 'Spongebob'"
print(s)

My name is 'Spongebob'

In [7]:
s = 'H'
type(s)

str

## Concatenation

In [77]:
a = 'Hello'
b = 'Good Morning'
a + b

'HelloGood Morning'

In [78]:
a + ' ' + b + ' ' + 'How are you?'

'Hello Good Morning How are you?'

In [10]:
print(a + '      ' + b)

Hello      Good Morning

## Repetition

In [11]:
a = 'Haha'
a * 3

'HahaHahaHaha'

In [12]:
a * 5

'HahaHahaHahaHahaHaha'

In [13]:
3 * a

'HahaHahaHaha'

## Comparisons

<img align = 'left' src = 'unicode.png' style = 'width:700px; hieght:600px' />

In [14]:
a = 'Hello'
b = 'Hi'
a == b

False

In [15]:
a = 'Hello'
b = 'Hello'
a == b

True

In [82]:
'Hello' > 'Apple'

True

In [16]:
'Hello' < 'Apple'

False

In [17]:
'Hello' > 'Happy'

True

## String Indexing

In [18]:
h = 'Hakuna Matata'
h

'Hakuna Matata'

In [19]:
h[0]

'H'

In [20]:
h[1]

'a'

In [21]:
h[4]

'n'

In [22]:
h[6]

' '

In [23]:
h[7]

'M'

In [24]:
h[11]

't'

In [9]:
h[12]

'a'

In [25]:
h[13]

IndexError: string index out of range

In [26]:
# Length of a string (number of characters in the string)
len(h)

13

In [28]:
h

'Hakuna Matata'

In [27]:
# Reverse Indexing
h[-1]

'a'

In [29]:
h[-2]

't'

In [30]:
h[-3]

'a'

In [32]:
h[-7]

' '

In [31]:
h[-13]

'H'

In [33]:
h[-14]

IndexError: string index out of range

## String Slicing
- Slicing is used to extract substrings from a string
- Substring is a part of string
- Consider Markdown as a string : Mark , down, rkd, own all are substrings of Markdown

The Syntax for slicing is `var[start :stop : step]`
- start: the beginning index of the group of elements we want to access
- stop: the ending index of the group of elements we want to access
- step: how many steps to take, when accessing a group of elements

In [34]:
s = 'Good Morning'
s

'Good Morning'

In [35]:
s[0:3:1]

'Goo'

In [36]:
s[0:4:1]

'Good'

In [37]:
s[0:4]    # By default step size is 1

'Good'

In [40]:
s[0:4:2]

'Go'

In [41]:
s[5:12]

'Morning'

In [42]:
s[0:12]

'Good Morning'

In [43]:
s[3:9]

'd Morn'

In [44]:
s[0:12:1]

'Good Morning'

In [45]:
s[0:12:2]

'Go onn'

In [46]:
s[0:12:3]

'Gdoi'

In [47]:
s[1:12:3]

'o rn'

In [48]:
s[0:8:3]

'Gdo'

In [ ]:
s[0:12]       # s[0:12:1]       By default step size is 1

In [49]:
s[:12]         # s[0:12:1]      By default starting index is 0

'Good Morning'

In [50]:
s[0:]        # s[0:12:1]        By default stop index goes till the end

'Good Morning'

In [51]:
s[:]        # s[0:12:1]

'Good Morning'

In [52]:
s[::]      # s[0:12:1]

'Good Morning'

In [58]:
s[-7::1]

'Morning'

In [59]:
s[-7:]

'Morning'

In [60]:
s[5:]

'Morning'

In [61]:
s[-12:-8]

'Good'

In [62]:
s[-1:-8:-1]

'gninroM'

In [63]:
s[11:4:-1]

'gninroM'

In [64]:
# Reversing a string
s[-1::-1]

'gninroM dooG'

In [65]:
# Reversing a string
s[::-1]

'gninroM dooG'

In [72]:
# Practice
s = 'Crime Master Gogo'
print(s[6:12])
print(s[13:17])
print(s[13:17])
print(s[-4:])
print(s[-11:-5])
print(s[-1:-5:-1])
print(s[16:12:-1])
print(s[11:5:-1])
print(s[-6:-12:-1])

Master
Gogo
Gogo
Gogo
Master
ogoG
ogoG
retsaM
retsaM

## String Functions

In [84]:
s = 'Good Morning'
s

'Good Morning'

In [85]:
len(s)

12

In [86]:
type(s)

str

In [87]:
s.upper()

'GOOD MORNING'

In [88]:
s                                   # original string is not changed

'Good Morning'

In [89]:
'Hello'.upper()

'HELLO'

In [90]:
s.lower()

'good morning'

In [91]:
s = 'good morning welcome to the session'
s.capitalize()

'Good morning welcome to the session'

In [92]:
s.title()

'Good Morning Welcome To The Session'

In [93]:
s.count('o')

6

In [97]:
s.count('welcome')

1

In [95]:
s.count('z')

0

In [96]:
s.find('m')

5

In [98]:
s.find('welcome')

13

In [99]:
s.find('o')

1

In [100]:
s.find('z')        # When a string is not present -1 is returned

-1

In [101]:
s.index('m')

5

In [102]:
s.index('welcome')

13

In [103]:
s.index('z')

ValueError: substring not found

In [104]:
s = '12345'
s.isdigit()

True

In [105]:
s = '123a'
s.isdigit()

False

In [106]:
s = '1.5'
s.isdigit()

False

In [107]:
s = '123'
s.isnumeric()

True

In [109]:
s = '123a'
s.isnumeric()

False

In [108]:
s = '1.5'
s.isnumeric()

False

In [110]:
s = '123abc'
s.isalnum()

True

In [112]:
s = '123abc ?'
s.isalnum()

False

In [113]:
s = 'I am Ironman'
s

'I am Ironman'

In [114]:
s.replace('Ironman', 'Batman')

'I am Batman'

In [115]:
s

'I am Ironman'

In [116]:
'I am in Jaipur'.replace('Jaipur','Bengaluru')

'I am in Bengaluru'

In [117]:
'I am in Jaipur'.replace('Dehli','Bengaluru') # nothing is replaced

'I am in Jaipur'

In [118]:
'I live in Jaipur, Jaipur is known for Tourism, Jaipur Jaipur'.replace('Jaipur','Bengaluru')

'I live in Bengaluru, Bengaluru is known for Tourism, Bengaluru Bengaluru'

In [119]:
'I am in Jaipur'.replace(' ','_')

'I_am_in_Jaipur'

In [17]:
s = 'Good morning how are you'
s.split()            # By default splits based on space  (retuns the result in the form a list)

['Good', 'morning', 'how', 'are', 'you']

In [120]:
s = 'Good morning how are you'
s.split('g')

['Good mornin', ' how are you']

In [67]:
s = 'Good morning how are you'
s.split('how')

['Good morning ', ' are you']

In [68]:
s.split('o')

['G', '', 'd m', 'rning h', 'w are y', 'u']

In [121]:
s = 'Spongebob Squarepants 15 Seaworld'
details = s.split()
details

['Spongebob', 'Squarepants', '15', 'Seaworld']

In [122]:
first_name = details[0]
last_name = details[1]
age = int(details[2])
city = details[3]

print('\nThe Details Are : ')
print('First Name : ',first_name)
print('Last Name  : ',last_name)
print('Age        : ',age)
print('City       : ',city)

The Details Are :
First Name :  Spongebob
Last Name  :  Squarepants
Age        :  15
City       :  Seaworld

In [123]:
word_list = ['Good', 'morning', 'how', 'are', 'you']
' '.join(word_list)

'Good morning how are you'

In [124]:
l = ['Good', 'morning', 'how', 'are', 'you']
'@@@'.join(l)

'Good@@@morning@@@how@@@are@@@you'

In [125]:
'Hello my name is {} and i am from {}'.format('Utkarsh', 'Jaipur')

'Hello my name is Utkarsh and i am from Jaipur'

In [126]:
name = 'Utkarsh'
age = 80
'Hello my name is {} and i am {} years old'.format(name, age)

'Hello my name is Utkarsh and i am 80 years old'

# Important Concepts
- Mutable
- Immutable
- Iterable
- Non Iterable
- Sequence
- Key Value Pair data types

# Practice

In [127]:
# Take deatils of a person in a single input and print the details
details = input('Enter the details (fname lname age gender city state) : ').split()
print('The details are : ')
print('First Name : ', details[0])
print('Last Name  : ', details[1])
print('Age        : ', details[2])
print('Gender     : ', details[3])
print('City       : ', details[4])
print('State      : ', details[5])

Enter the details (fname lname age gender city state) : Utkarsh Sharma 80 Male Jaipur Rajasthan
The details are :
First Name :  Utkarsh
Last Name  :  Sharma
Age        :  80
Gender     :  Male
City       :  Jaipur
State      :  Rajasthan

In [163]:
# Swapping two numbers (Method 1)
num1 = int(input('Enter First Number  : '))
num2 = int(input('Enter Second Number : '))
print('Before Swapping : ')
print('Num1 = ',num1)
print('Num2 = ',num2)
temp = num1
num1 = num2
num2 = temp
print('After Swapping : ')
print('Num1 = ',num1)
print('Num2 = ',num2)

Enter First Number  : 10
Enter Second Number : 5
Before Swapping :
Num1 =  10
Num2 =  5
After Swapping :
Num1 =  5
Num2 =  10

In [164]:
# Swapping two numbers (Method 2)
num1 = int(input('Enter First Number  : '))
num2 = int(input('Enter Second Number : '))
print('Before Swapping : ')
print('Num1 = ',num1)
print('Num2 = ',num2)
num1 = num1 + num2
num2 = num1 - num2
num1 = num1 - num2
print('After Swapping : ')
print('Num1 = ',num1)
print('Num2 = ',num2)

Enter First Number  : 10
Enter Second Number : 5
Before Swapping :
Num1 =  10
Num2 =  5
After Swapping :
Num1 =  5
Num2 =  10

In [165]:
# Swapping two numbers (Method 3)
num1 = int(input('Enter First Number  : '))
num2 = int(input('Enter Second Number : '))
print('Before Swapping : ')
print('Num1 = ',num1)
print('Num2 = ',num2)

num1, num2 = num2, num1

print('After Swapping : ')
print('Num1 = ',num1)
print('Num2 = ',num2)

Enter First Number  : 10
Enter Second Number : 5
Before Swapping :
Num1 =  10
Num2 =  5
After Swapping :
Num1 =  5
Num2 =  10

In [73]:
# Take a string as input and print number of words
words = input('Enter the string : ').split()
print('The number of words in the given string are : ', len(words))

Enter the string : billo bagge billeya da ki karegi
The number of words in the given string are :  6

In [34]:
details = input('Enter the details(amount duration rate) : ').split() 
amount = int(details[0])
duration = float(details[1])
rate = float(details[2])
             
interest = amount * duration * rate / 100 
print('The interest amount is : ', interest)

Enter the details(amount duration rate) : 1000000 4.5 9.5
The interest amount is :  427500.0

In [132]:
details = ['riju', 'Rahim']

In [133]:
details[0] = 'Riju'

In [136]:
details[0] = details[0].title()
details

['Riju', 'Rahim']