- Output using print function
- Input using input function
- Variables and literals
- Basic arithmatic programs

# print()
- Used to print output

In [1]:
print('Hello Everyone')

Hello Everyone

In [2]:
print('Good morning')
print('Welcome to this session')

Good morning
Welcome to this session

In [5]:
print(good)                # good will be considered as a variable

NameError: name 'good' is not defined

In [6]:
print(5)

5

In [7]:
print(5 + 6)

11

In [8]:
print(10 - 5)

5

In [9]:
print(5 * 4)

20

In [10]:
print(10 / 2)

5.0

In [11]:
# variables
amount = 10000
print(amount)              # Quotes are used to print string/text only, variables do not require quotes

10000

In [12]:
name = 'Utkarsh'
print(name)

Utkarsh

In [17]:
a = 5
print(a)

5

In [14]:
print('Hello Everyone', 'Good Morning', 'Welcome to the session')

Hello Everyone Good Morning Welcome to the session

In [15]:
name = 'Utkarsh'
print('Hello', name)

Hello Utkarsh

In [19]:
print('Hello', name, 'You better explain the concepts well')

Hello Utkarsh You better explain the concepts well

In [20]:
a = 100
b = 200
c = 300
print('The values of a, b and c respectively are : ',a,b,c)

The values of a, b and c respectively are :  100 200 300

In [21]:
print('The sum of a, b and c is : ', a+b+c)

The sum of a, b and c is :  600

In [22]:
print('Billo bagge billeya da ki karegi')
print('Bagge bagge billeya da ki karegi')

Billo bagge billeya da ki karegi
Bagge bagge billeya da ki karegi

In [1]:
a = 100
b = 60
print(a-b)
a+b              # A jupyter cell shows the output of last statement

40

160

---
## end
- end is used to specify what appears after each print statement

In [13]:
# Outputs of diffrent print statements appear in different lines by default
print('Hello')
print('Good morning everyone')
print('Welcome to the session')

Hello
Good morning everyone
Welcome to the session

In [14]:
# By default end is equal to '\n' (new line)
print('Hello', end = '\n')
print('Good morning everyone', end = '\n')
print('Welcome to the session', end = '\n')

Hello
Good morning everyone
Welcome to the session

In [16]:
print('Hello', end = '\n\n')
print('Good morning everyone', end = '\n\n')
print('Welcome to the session', end = '\n\n')

Hello

Good morning everyone

Welcome to the session

In [23]:
print('Hello', end = '   ')
print('Good morning everyone', end = '   ')
print('Welcome to the session', end = '   ')

Hello   Good morning everyone   Welcome to the session

---
## sep
- Used to specify what appears between multiple outputs of the same print statement

In [25]:
# By default a space appears betwen outputs
print('Hello Everyone','Good morning','Welcome to the session')

Hello Everyone Good morning Welcome to the session

In [26]:
# By deafult the sep parameter is set to a whitespace
print('Hello Everyone','Good morning','Welcome to the session', sep = ' ')

Hello Everyone Good morning Welcome to the session

In [27]:
print('Hello Everyone','Good morning','Welcome to the session', sep = '      ')

Hello Everyone      Good morning      Welcome to the session

In [30]:
print('Hello Everyone','Good morning','Welcome to the session', sep = '\n')

Hello Everyone
Good morning
Welcome to the session

---
# input()
- Used to take input from user

In [24]:
input()

Utkarsh

'Utkarsh'

In [25]:
name = input()

Utkarsh

In [26]:
print('Hello', name)

Hello Utkarsh

In [30]:
first_name = input()
last_name = input()
city = input()

print('\n')                                      # \n is newline character
print('The details are : ')
print('First Name : ', first_name)
print('Last Name : ', last_name)
print('City : ', city)

Utkarsh
Sharma
Jaipur


The details are :
First Name :  Utkarsh
Last Name :  Sharma
City :  Jaipur

In [31]:
first_name = input('Enter the first name : ')
last_name = input('Enter the last name : ')
city = input('Enter the city : ')

print('\n')
print('The details are : ')
print('First Name : ', first_name)
print('Last Name : ', last_name)
print('City : ', city)

Enter the first name : Utkarsh
Enter the last name : Sharma
Enter the city : Jaipur


The details are :
First Name :  Utkarsh
Last Name :  Sharma
City :  Jaipur

In [32]:
# Everything is provided as a string in input
num1 = input('Enter number 1 : ')               # Treated as a string
num2 = input('Enter number 2 : ')
result = num1 + num2                            # Concatenation : Two strings will be combined
print(result)

Enter number 1 : 2
Enter number 2 : 5
25

In [34]:
'Hello' + 'Everyone'             # Concatenation

'HelloEveryone'

In [40]:
num1 = int(input('Enter number 1 : '))          # int will covert input to an integer/number
num2 = int(input('Enter number 2 : '))
result = num1 + num2
print(result)

Enter number 1 : 2
Enter number 2 : 5
7

In [41]:
# Write a program to take first_name, last_name, age, city, state, country as input and print the details
first_name = input('Enter the first name : ')
last_name = input('Enter the last name : ')
age = int(input('Enter the age : '))
city = input('Enter the city : ')
state = input('Enter the state : ')
country = input('Enter the country : ')

print('\n')
print('The details are : ')
print('First Name : ', first_name)
print('Last Name  : ', last_name)
print('Age        : ', age)
print('City       : ', city)
print('State      : ', state)
print('Country    : ', country)

Enter the first name : Utkarsh
Enter the last name : Sharma
Enter the age : 85
Enter the city : Jaipur
Enter the state : Rajasthan
Enter the country : India


The details are :
First Name :  Utkarsh
Last Name  :  Sharma
Age        :  85
City       :  Jaipur
State      :  Rajasthan
Country    :  India

In [2]:
# Take principal amount, rate and duration in years as input from user and calcalate simple interest
principal_amount = int(input('Enter the principal amount : '))
rate = int(input('Enter the rate of interest : '))
years = int(input('Enter the duration in years : '))

simple_interest = principal_amount * rate * years / 100
print('The simple interest is : ', simple_interest)

Enter the principal amount : 200000
Enter the rate of interest : 8
Enter the duration in years : 5
The simple interest is :  80000.0

## format()

In [6]:
name = input('Enter the name : ')
age = int(input('Enter the age : '))
print('My name is {} and i am {} years old'.format(name, age))

Enter the name : Varsha
Enter the age : 40
My name is Varsha and i am 40 years old

In [11]:
'My name is {} and i am {} years old'.format(name, age)

'My name is Varsha and i am 40 years old'

In [12]:
# Take principal amount, rate and duration in years as input from user and calcalate simple interest
principal_amount = int(input('Enter the principal amount : '))
rate = int(input('Enter the rate of interest : '))
years = int(input('Enter the duration in years : '))

simple_interest = principal_amount * rate * years / 100
print('The simple interest for amount {} on a {}% rate for {} years is : {}'.format(principal_amount, rate, years, simple_interest))

Enter the principal amount : 100000
Enter the rate of interest : 10
Enter the duration in years : 5
The simple interest for amount 100000 on a 10% rate for 5 years is : 50000.0

In [2]:
# Take two numbers as input into two variables and swap their values
num1 = int(input("Enter the first number  : "))
num2 = int(input("Enter the second number : "))

print('Values before swapping : ')
print('Number 1 : ', num1)
print('Number 2 : ', num2)

temp = num1
num1 = num2
num2 = temp

print('Values after swapping : ')
print('Number 1 : ', num1)
print('Number 2 : ', num2)

Enter the first number  : 5
Enter the second number : 10
Values before swapping :
Number 1 :  5
Number 2 :  10
Values after swapping :
Number 1 :  10
Number 2 :  5

In [3]:
# Take two numbers as input into two variables and swap their values
num1 = int(input("Enter the first number  : "))
num2 = int(input("Enter the second number : "))

print('Values before swapping : ')
print('Number 1 : ', num1)
print('Number 2 : ', num2)

num1, num2 = num2, num1

print('Values after swapping : ')
print('Number 1 : ', num1)
print('Number 2 : ', num2)

Enter the first number  : 5
Enter the second number : 10
Values before swapping :
Number 1 :  5
Number 2 :  10
Values after swapping :
Number 1 :  10
Number 2 :  5

In [ ]:
# Take two numbers as input into two variables and swap their values without using multiple asignment and temp variable