# Data Types In Python
- **int** (for integers )
- **float** (for floating point numbers)
- **str** (for strings )
- **list**
- **tuple**
- **dict** (for dictionary)
- **set**
- **bool**

# Important Concepts
- Mutable
- Immutable
- Iterable
- Non Iterable
- Key Value Pair

In [1]:
list1 = [10,20,30,40,50]                # lists are mutable (item assignment possible)
list1[3] = 60
list1

[10, 20, 30, 60, 50]

In [2]:
s = 'Hello'                        # strings are immutable (item assignment not possible)
s[3] = 'z'

TypeError: 'str' object does not support item assignment

In [3]:
for i in list1:                            # list and string both are iterable
    print(i, end = ' ')

print()
for i in s:           
    print(i, end = ' ')

10 20 30 60 50
H e l l o

# List
- Lists are collections in python
- Lists are defined using `[]`
- Lists can store multiple elements of diffrent data types, separated by `,`
- Lists are indexed, mutable, iterable

In [4]:
l1 = [1,2,3,4,5]
print(l1)
type(l1)

[1, 2, 3, 4, 5]

list

In [5]:
l1 = []
type(l1)

list

In [6]:
l1 = ['abc','xyz', 'pqr']
l1

['abc', 'xyz', 'pqr']

In [7]:
l1 = [1,2,3, 4.5,6.5, 'hello', [4,5,6], {1:2}, (6,7), True]
l1                     # All the data types can be stores in lists

[1, 2, 3, 4.5, 6.5, 'hello', [4, 5, 6], {1: 2}, (6, 7), True]

In [8]:
l1 = [10,20,30,40,50]                          # Lists are mutable
l1[2] = 100
l1

[10, 20, 100, 40, 50]

## Concatenation

In [9]:
l1 = [1,2,3,4]
l2 = [5,6,7,8]
l1 + l2

[1, 2, 3, 4, 5, 6, 7, 8]

In [10]:
l1 + [6]

[1, 2, 3, 4, 6]

In [18]:
l1 + 6

TypeError: can only concatenate list (not "int") to list

## Repetition

In [11]:
l1 * 2

[1, 2, 3, 4, 1, 2, 3, 4]

In [12]:
3 * l1

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

## List Indexing

In [14]:
l1 = [10,20,30,40,50,60,70,80,90]
l1

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [15]:
l1[0]

10

In [16]:
l1[2]

30

In [17]:
l1[8]

90

In [18]:
l1[-1]

90

In [19]:
l1[-2]

80

In [20]:
l1[-3]

70

## List Slicing

In [21]:
l1

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [22]:
l1[0:5]

[10, 20, 30, 40, 50]

In [23]:
l1[1:8]

[20, 30, 40, 50, 60, 70, 80]

In [24]:
l1[:6]

[10, 20, 30, 40, 50, 60]

In [25]:
l1[4:]

[50, 60, 70, 80, 90]

In [26]:
l1[:]

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [27]:
l1[::2]

[10, 30, 50, 70, 90]

In [28]:
l1[1::2]

[20, 40, 60, 80]

In [29]:
l1[-8:-1]

[20, 30, 40, 50, 60, 70, 80]

In [30]:
l1[-1::-1]

[90, 80, 70, 60, 50, 40, 30, 20, 10]

In [31]:
l1[::-1]

[90, 80, 70, 60, 50, 40, 30, 20, 10]

## Nested Lists

In [32]:
l1 = [1,2, [4,5,6], [7,8]]
len(l1)

4

In [39]:
l1[2][1]

5

In [41]:
l1 = [1,2,3, [4,5],[8,9],['ABC','XYZ'], [10,20, [30,40]]]
l1

[1, 2, 3, [4, 5], [8, 9], ['ABC', 'XYZ'], [10, 20, [30, 40]]]

In [42]:
len(l1)

7

In [43]:
l1[0]

1

In [44]:
l1[3]

[4, 5]

In [61]:
l1[5]

['ABC', 'XYZ']

In [47]:
l1[3][1]

5

In [48]:
l1[5][1]

'XYZ'

In [51]:
l1[6][2][0]

30

In [52]:
# Practice
l1 = [1,2,3]
l2 = [4,[5,6],7]
l3 = [7,[8,[9,10,[11]]]]
l4 = ['Hello',[1,['Haha']]]
l5 = [l1,l2,l3,l4]
l5

[[1, 2, 3], [4, [5, 6], 7], [7, [8, [9, 10, [11]]]], ['Hello', [1, ['Haha']]]]

In [53]:
len(l5)

4

In [84]:
l5[1][1][1]

6

In [60]:
l5[2][1][0]

8

In [64]:
l5[2][1][1][1]

10

In [69]:
l5[3][1][1][0][0]

'H'

In [86]:
l5[3][1][1][0][1:3]

'ah'

## List Functions

In [1]:
l1 = [1,2,3,4,5,6,7,8,9]
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
len(l1)

9

In [3]:
type(l1)

list

In [4]:
l1.append(10)    # Add an element at the end of the list
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
l1.append('ABC')
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'ABC']

In [6]:
l1.append([1,2,3])
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'ABC', [1, 2, 3]]

In [7]:
l1.pop()    # By default pop deletes the last element

[1, 2, 3]

In [8]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'ABC']

In [9]:
l1.pop(5)                 # Deletes by index

6

In [10]:
l1

[1, 2, 3, 4, 5, 7, 8, 9, 10, 'ABC']

In [11]:
l1.remove('ABC')         # Deletes by the value of element

In [12]:
l1

[1, 2, 3, 4, 5, 7, 8, 9, 10]

In [13]:
l1.remove(8)
l1

[1, 2, 3, 4, 5, 7, 9, 10]

In [14]:
l1 = [1,2,3,4,5,6,5]
l1.remove(5)              # Only deletes the first occurrence
l1

[1, 2, 3, 4, 6, 5]

In [16]:
l1 = [1,2,3,4,5]
l1

[1, 2, 3, 4, 5]

In [17]:
l1.extend([11,22,33])    # Takes a collection object and adds elements of it to the list
l1

[1, 2, 3, 4, 5, 11, 22, 33]

In [18]:
l1.extend('ABC')
l1

[1, 2, 3, 4, 5, 11, 22, 33, 'A', 'B', 'C']

In [20]:
l1.extend([[10,20,30]])
l1

[1, 2, 3, 4, 5, 11, 22, 33, 'A', 'B', 'C', [10, 20, 30]]

In [24]:
l1 = [1,2,3,4,5,6,7,8]
l1

[1, 2, 3, 4, 5, 6, 7, 8]

In [25]:
l1.insert(5,10)    # Takes an index (where to insert) and an element (what to insert)
l1

[1, 2, 3, 4, 5, 10, 6, 7, 8]

In [26]:
l1.insert(9,40)
l1

[1, 2, 3, 4, 5, 10, 6, 7, 8, 40]

In [27]:
l1.insert(8,'ABC')
l1

[1, 2, 3, 4, 5, 10, 6, 7, 'ABC', 8, 40]

In [28]:
l1 = [30,100,20,70,60,10,40,50,90,80]
l1.sort()
l1

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [29]:
l1.sort(reverse = True)
l1

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [31]:
l1 = [1,2,3,4,5,6,7,8]
l1

[1, 2, 3, 4, 5, 6, 7, 8]

In [32]:
sum(l1)

36

In [33]:
max(l1)

8

In [34]:
min(l1)

1

In [35]:
l1 = [10,20,30,10,40,50,10]

In [36]:
l1.count(10)

3

In [37]:
l1.index(50)

5

In [38]:
l1.index(70)

ValueError: 70 is not in list

In [39]:
l1 = [10,20,50,30,40]
l1.reverse()
l1

[40, 30, 50, 20, 10]

# ================================================

# Tuple
- Collection which can store elements of different data types
- created using `()` and elements are separated by `,`
- Tuples are like lists but they are immutable

In [57]:
a = (1,2,3)
type(a)

tuple

In [58]:
a[2] = 4                               # tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [42]:
t = (1,2,3,4,5.5,6.5, 2,3, 'ABC', [1,2,3],(1,2,3), {1 : 2}, True)
t

(1, 2, 3, 4, 5.5, 6.5, 2, 3, 'ABC', [1, 2, 3], (1, 2, 3), {1: 2}, True)

In [43]:
# Concatenation
t1 = (1,2,3)
t2 = (4,5,6)
t1 + t2

(1, 2, 3, 4, 5, 6)

In [44]:
t1 * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [45]:
t1 = (1,2,3,4,5,6,7,8,9)
t1

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [46]:
t1[0]

1

In [47]:
t1[2]

3

In [48]:
t1[8]

9

In [49]:
t1[-1]

9

In [50]:
t1[::]

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [51]:
t1[::-1]

(9, 8, 7, 6, 5, 4, 3, 2, 1)

In [52]:
len(t1)

9

In [53]:
sum(t1)

45

In [54]:
max(t1)

9

In [55]:
min(t1)

1

In [56]:
# Tuple unpacking
(a,b,c) = (10,20,30)
print(a,b,c)

10 20 30

In [160]:
a,b,c = 10,20,30
print(a,b,c)

10 20 30

# ===============================================

# Dictionaries
- Dictionaries are collections in python consisting `key-value` pairs
- Each key-Value is known as an `item`
- Dictionaries are defined using `{}`
- Dictionaries are indexable over their keys
- Dictionaries are mutable

In [100]:
d1 = {}
type(d1)

dict

In [101]:
d1 = {'k1' : 'v1', 'k2' : 'v2', 'k3' : 'v3'}
d1

{'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}

In [102]:
len(d1)

3

In [103]:
d1[0]

KeyError: 0

In [104]:
d1['k1']

'v1'

In [106]:
d1['k2']

'v2'

In [107]:
# using list to store data about employees
emp1 = ['Aditya', 'Sharma', 32, 'Goa', 100000]
emp2 = ['Bhuwan', 'Mehra', 38, 'Delhi', 89000]
emp3 = ['Chinmay', 'Sharma', 'Pune', 47, 95000]

In [108]:
emp1[0]

'Aditya'

In [109]:
emp1[3]

'Goa'

In [110]:
emp3[3]

47

In [112]:
# Using dictionary to store data about employees
emp1 = {'fname'  : 'Aditya',
        'lname'  : 'Sharma',
        'age'    : 32,
        'city'   : 'Goa',
        'salary' : 100000}

emp2 = {'fname'  : 'Bhuwan',
        'lname'  : 'Mehra',
        'age'    : 38,
        'city'   : 'Delhi',
        'salary' : 89000}

emp3 = {'fname'  : 'Chinmay',
        'city'   : 'Pune',
        'lname'  : 'Sharma',
        'age'    : 47,
        'salary' : 95000}

In [113]:
emp1['fname']

'Aditya'

In [114]:
emp3['fname']

'Chinmay'

In [115]:
emp1['age']

32

In [116]:
emp3['age']

47

In [117]:
emp2['salary']

89000

In [122]:
# Which datatypes can be stored as values (all the data types can be used as values)
d1 = {1 : 11, 2 : 'ABC', 3 : 5.5, 4 : [11,22,33], 5 : (44,55,66), 6 : {'ABC' : 'XYZ'}, 7 : True, 8 : {1,2,3}}
d1

{1: 11,
 2: 'ABC',
 3: 5.5,
 4: [11, 22, 33],
 5: (44, 55, 66),
 6: {'ABC': 'XYZ'},
 7: True,
 8: {1, 2, 3}}

In [124]:
d1[1]

11

In [121]:
d1[4]

[11, 22, 33]

In [25]:
d1[6]

{'ABC': 'XYZ'}

In [134]:
# Which data types can be used as keys
d1 = {1 : 11, 2.5 : 44, 'ABC' : 22, (1,2) : 33}              
d1

{1: 11, 2.5: 44, 'ABC': 22, (1, 2): 33}

In [129]:
d1 = {[1,2,3] : 55}             # Mutable data types can not be used as keys    
d1

TypeError: unhashable type: 'list'

In [130]:
d1 = {{'A': 55} : 66}
d1

TypeError: unhashable type: 'dict'

In [131]:
d1 = {{1,2,3} : 55}                 
d1

TypeError: unhashable type: 'set'

In [135]:
marks = {'Maths' : 90, 'Physics' : 80, 'Chemistry' : 60}
marks

{'Maths': 90, 'Physics': 80, 'Chemistry': 60}

In [136]:
# If a value is assigned to an already existing key , the previous value is updated
marks['Chemistry'] = 70                       # Dictionaries are mutable
marks

{'Maths': 90, 'Physics': 80, 'Chemistry': 70}

In [137]:
# If a value is assigned to a new key, new key value pair will be added to the dictionary
marks['ML'] = 95
marks

{'Maths': 90, 'Physics': 80, 'Chemistry': 70, 'ML': 95}

## Dictionary Methods

In [138]:
emp_101 = {'Name' : 'Spongebob','Age' : 15, 'Gender' : 'Male', 'City' : 'Seaworld'}
emp_101

{'Name': 'Spongebob', 'Age': 15, 'Gender': 'Male', 'City': 'Seaworld'}

In [139]:
len(emp_101)

4

In [140]:
type(emp_101)

dict

In [142]:
emp_101.get('Name')

'Spongebob'

In [143]:
emp_101.get('City')

'Seaworld'

In [144]:
emp_101.keys()

dict_keys(['Name', 'Age', 'Gender', 'City'])

In [145]:
emp_101.values()

dict_values(['Spongebob', 15, 'Male', 'Seaworld'])

In [63]:
emp_101.items()

dict_items([('Name', 'Spongebob'), ('Age', 15), ('Gender', 'Male'), ('City', 'Seaworld')])

In [146]:
emp_101.pop('Gender')

'Male'

In [147]:
emp_101

{'Name': 'Spongebob', 'Age': 15, 'City': 'Seaworld'}

# ================================================

# Sets

In [60]:
# A set is an unordered collection of unique elements
s = {1,2,3,4,5}
type(s)

set

In [61]:
s = set()
type(s)

set

In [67]:
s = {1,2,3,'ABC',4 ,5 ,'XYZ', 1.5, True}
s

{1, 1.5, 2, 3, 4, 5, 'ABC', 'XYZ'}

In [69]:
s = {1,2,3,{1,2,3},[5,6,7], {1:2}}
s

TypeError: unhashable type: 'set'

In [70]:
s = {1,2,3,4,2,3,4,5,6,5}                         # Will take only unique elements
s

{1, 2, 3, 4, 5, 6}

In [71]:
s[0]                                             # Sets can not be indexed

TypeError: 'set' object is not subscriptable

In [72]:
s1 = {1,2,3,4,5}
s1

{1, 2, 3, 4, 5}

In [73]:
s1.add(6)
s1

{1, 2, 3, 4, 5, 6}

In [74]:
s1.add(4)
s1

{1, 2, 3, 4, 5, 6}

In [75]:
s1.add('ABC')
s1

{1, 2, 3, 4, 5, 6, 'ABC'}

In [76]:
s1.add(7)
s1

{1, 2, 3, 4, 5, 6, 7, 'ABC'}

In [77]:
s1.remove(4)
s1

{1, 2, 3, 5, 6, 7, 'ABC'}

In [80]:
names = ['John','Bob','Tom','Bob', 'John','Babulal','Rahul', 'Babulal']
unique_names = set(names)
unique_names

{'Babulal', 'Bob', 'John', 'Rahul', 'Tom'}

## Set Operations

In [82]:
a = {1,2,3,4,5,6,7}
b = {5,6,7,8,9,10}

In [83]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [84]:
a.intersection(b)

{5, 6, 7}

In [85]:
a.difference(b)

{1, 2, 3, 4}

In [86]:
b.difference(a)

{8, 9, 10}

In [181]:
a | b       # union

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [182]:
a & b      # intersection

{5, 6, 7}

In [87]:
a - b      # differecnce

{1, 2, 3, 4}

In [184]:
b - a

{8, 9, 10}

# ================================================

# Boolean

In [88]:
type(True)

bool

In [89]:
type(False)

bool

In [90]:
type(true)

NameError: name 'true' is not defined

In [91]:
a = True
type(a)

bool

In [92]:
3 < 5

True

In [93]:
6 > 7

False

In [94]:
if True:
    print('Code is executing')

Code is executing

In [95]:
if False:
    print('Code is executing')

In [97]:
a = 10
b = 9
if a > b:
    print('a is larger')
else:
    print('b is larger')

a is larger

In [99]:
stud1 = int(input('Enter the marks of student1 : '))
stud2 = int(input('Enter the marks of student2 : '))

if stud1 > stud2:
    print('Student 1 has scored higher')
else:
    print('Student 2 has scored higher')

Enter the marks of student1 : 85
Enter the marks of student2 : 90
Student 2 has scored higher

# ================================================

# Type Conversion
- Changing one data type to another
- The data must be compatible

In [151]:
i = 5
f = 4.5
s1 = '123'
s2 = 'abc'
l = [1,2,3,4,5]
t = (6,7,8,9,5)
s = {3,4,5,6}

In [152]:
float(i)

5.0

In [153]:
int(f)

4

In [154]:
int(s1)

123

In [155]:
float(1)

1.0

In [156]:
int(s2)

ValueError: invalid literal for int() with base 10: 'abc'

In [157]:
str(i)

'5'

In [158]:
str(f)

'4.5'

In [159]:
list(s1)

['1', '2', '3']

In [160]:
list(s2)

['a', 'b', 'c']

In [161]:
str(l)

'[1, 2, 3, 4, 5]'

In [162]:
tuple(l)

(1, 2, 3, 4, 5)

In [163]:
list(t)

[6, 7, 8, 9, 5]

In [164]:
str(t)

'(6, 7, 8, 9, 5)'

In [165]:
tuple(s1)

('1', '2', '3')

In [166]:
set(s1)

{'1', '2', '3'}

In [167]:
set(l)

{1, 2, 3, 4, 5}

In [168]:
set(t)

{5, 6, 7, 8, 9}

In [66]:
set(f)

{5, 6, 7, 8, 9}

In [169]:
list(s)

[3, 4, 5, 6]

In [170]:
tuple(s)

(3, 4, 5, 6)

In [171]:
d1 = {'name': 'Tom', 'age' : 25}
list(d1)

['name', 'age']

In [172]:
l1 = [1,2,3,4,5]
dict(l1)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

---
# Whats Next ?
- Chaining of comparison operations (Logical connectors)
- Conditional Statements
- Iterative Statements (Loops)
- Functions
- OOP in Python
- List comprehension, Exception Handling, File handling
---
---
---

In [174]:
# Swapping two numbers without using extra variable or multiple assignment
num1 = int(input('Enter the first number  : '))
num2 = int(input('Enter the second number : '))

print('Variables before swapping : ')
print('num1 : ', num1)
print('num2 : ', num2)

num1 = num1 + num2
num2 = num1 - num2
num1 = num1 - num2

print('Variables after swapping : ')
print('num1 : ', num1)
print('num2 : ', num2)

Enter the first number  : 10
Enter the second number : 20
Variables before swapping :
num1 :  10
num2 :  20
Variables after swapping :
num1 :  20
num2 :  10

In [176]:
# Take marks in five subjects as input and print max, min, avg
marks1 = int(input('Enter marks for subject 1 : '))
marks2 = int(input('Enter marks for subject 2 : '))
marks3 = int(input('Enter marks for subject 3 : '))
marks4 = int(input('Enter marks for subject 4 : '))
marks5 = int(input('Enter marks for subject 5 : '))

marks = [marks1, marks2, marks3, marks4, marks5]

print('Maximum marks : ', max(marks))
print('Minimum marks : ', min(marks))
print('Average marks : ', sum(marks) / len(marks))

Enter marks for subject 1 : 90
Enter marks for subject 2 : 95
Enter marks for subject 3 : 85
Enter marks for subject 4 : 80
Enter marks for subject 5 : 75
Maximum marks :  95
Minimum marks :  75
Average marks :  85.0

In [178]:
# Take marks in five subjects as input in a single line and print max, min, avg
marks = input('Enter marks in five subjects separated by space : ').split()
marks[0] = int(marks[0])
marks[1] = int(marks[1])
marks[2] = int(marks[2])
marks[3] = int(marks[3])
marks[4] = int(marks[4])

print('Maximum marks : ', max(marks))
print('Minimum marks : ', min(marks))
print('Average marks : ', sum(marks) / len(marks))

Enter marks in five subjects separated by space : 90 95 96 91 92
Maximum marks :  96
Minimum marks :  90
Average marks :  92.8

In [179]:
marks = ['98', '95', '98']
marks = list(map(int, marks))
marks

[98, 95, 98]

In [180]:
# Take marks in five subjects as input in a single line and print max, min, avg
marks = input('Enter marks in five subjects separated by space : ').split()
marks = list(map(int, marks))         # map will apply int function to all elements of marks

print('Maximum marks : ', max(marks))
print('Minimum marks : ', min(marks))
print('Average marks : ', sum(marks) / len(marks))

Enter marks in five subjects separated by space : 90 98 95 96 99
Maximum marks :  99
Minimum marks :  90
Average marks :  95.6

In [183]:
# Taking a list of strings as input in a single line
details = input('Enter the details (fname lanme city gender state) : ').split()
details

Enter the details (fname lanme city gender state) : Utkarsh Sharma Jaipur Male Rajasthan

['Utkarsh', 'Sharma', 'Jaipur', 'Male', 'Rajasthan']

In [185]:
# Taking a list of numbers as input in a single line
numbers = input('Enter three numbers : ').split()
numbers = list(map(int, numbers))
numbers

Enter three numbers : 10 20 30

[10, 20, 30]

In [187]:
# Taking a list of numbers as input in a single line
numbers = list(map(int, input('Enter three numbers : ').split()))
numbers

Enter three numbers : 10 20 30

[10, 20, 30]

In [188]:
# Take salaries of 7 employees as input in a single line, print the max, min, avg salaries
salaries = list(map(int, input('Enter salaries of seven employees : ').split()))
print('Maximum Salary : ', max(salaries))
print('Minimum Salary : ', min(salaries))
print('Average Salary : ', sum(salaries) / len(salaries))

Enter salaries of seven employees : 100000 80000 90000 95000 85000 60000 120000
Maximum Salary :  120000
Minimum Salary :  60000
Average Salary :  90000.0