# Object Oriented Programming
- Inheritance
- Polymorphism
- Encapsulation
- Abstraction

In [1]:
print(4 + 5)
print('Hello' + ' Good morning')

9
Hello Good morning

In [3]:
s = 'Hello'
print(type(s))

<class 'str'>

In [4]:
a = 5
print(type(a))

<class 'int'>

In [5]:
l = [1,2,3]
print(type(l))

<class 'list'>

In [7]:
def abc():
    pass

print(type(abc))

<class 'function'>

# Classes and Objects

In [8]:
class Person:
    def __init__(self, fname, lname, age):
        self.first_name = fname
        self.last_name = lname
        self.age = age
        
    def show(self):
        print('The deatils are : ')
        print('First name : ', self.first_name)
        print('Last name  : ', self.last_name)
        print('Age        : ', self.age)

In [9]:
person1 = Person('Archana', 'Sonone', 65)

In [10]:
person2 = Person('Akash', 'Wasnik', 35)

In [11]:
person1.first_name

'Archana'

In [12]:
person1.age

65

In [13]:
person2.first_name

'Akash'

In [14]:
person2.last_name

'Wasnik'

In [15]:
person1.show()

The deatils are :
First name :  Archana
Last name  :  Sonone
Age        :  65

In [16]:
person2.show()

The deatils are :
First name :  Akash
Last name  :  Wasnik
Age        :  35

In [28]:
# The values for attributes can be set using a different function also
# It is not mandatory to pass values while creating the object
class Insaan:
    def __init__(self):
        self.first_name = None
        self.last_name = None
        self.age = None
        
    def set_details(self, fname, lname, age):
        self.first_name = fname
        self.last_name = lname
        self.age = age
        
    def show_details(self):
        print('The deatils are : ')
        print('First name : ', self.first_name)
        print('Last name  : ', self.last_name)
        print('Age        : ', self.age)

In [29]:
person1 = Insaan()

In [30]:
person1.show_details()

The deatils are :
First name :  None
Last name  :  None
Age        :  None

In [31]:
person1.set_details('Archan', 'Sonone', 75)

In [32]:
person1.show_details()

The deatils are :
First name :  Archan
Last name  :  Sonone
Age        :  75

In [35]:
class Employee:
    def __init__(self, empid, fname, lname, gender, age, city, desg, dept, org, salary):
        self.employee_id = empid
        self.first_name = fname
        self.last_name = lname
        self.gender = gender
        self.age = age
        self.city = city
        self.designation = desg
        self.department = dept
        self.organisation = org
        self.salary = salary
        
    def show_details(self):
        print('The details are : ')
        print('Employee ID  : ', self.employee_id)
        print('First name   : ', self.first_name)
        print('Last name    : ', self.last_name)
        print('Gender       : ', self.gender)
        print('Age          : ', self.age)
        print('City         : ', self.city)
        print('Designation  : ', self.designation)
        print('Department   : ', self.department)
        print('Organisation : ', self.organisation)
        print('Salary       : ', self.salary)
        
    def update_city(self, new_city):
        self.city = new_city
        print('The city for {} {} has been updated to {}'.format(self.first_name, self.last_name, self.city))
        
    def update_desg(self, new_desg):
        self.designation = new_desg
        print('The designation for {} {} has been updated to {}'.format(self.first_name, self.last_name, self.designation))
        
    def update_dept(self, new_dept):
        self.department = new_dept
        print('The department for {} {} has been updated to {}'.format(self.first_name, self.last_name, self.department))
        
    def update_org(self, new_org):
        self.organisation = new_org
        print('The organisation for {} {} has been updated to {}'.format(self.first_name, self.last_name, self.organisation))
        
    def update_salary(self, new_salary):
        self.salary = new_salary
        print('The salary for {} {} has been updated to {}'.format(self.first_name, self.last_name, self.salary))
        
    def increase_salary(self, inc):
        self.salary *= (1 + inc/100)    # self.salary = self.salary * (1 + inc/100)
        print('The salary for {} {} has been increased by {}%'.format(self.first_name, self.last_name, inc))
        print('The new salary after the raise is : ', self.salary)
              
    def decrease_salary(self, dec):
        self.salary *= (1 - dec/100)    # self.salary = self.salary * (1 - dec/100)
        print('The salary for {} {} has been decreased by {}%'.format(self.first_name, self.last_name, dec))
        print('The new salary after the decrement is : ', self.salary)

In [36]:
emp1 = Employee(101, 'Sachin', 'Sethy', 'Male', 39, 'Chennai', 'IT Guy', 'IT',  'WellsFargo', 55000)
emp2 = Employee(102, 'Madhu', 'Vidhya', 'Female' ,25, 'Chennai', 'HR', 'Talent Acquisition', 'Gen Digital', 30000)

In [37]:
emp1.show_details()

The details are :
Employee ID  :  101
First name   :  Sachin
Last name    :  Sethy
Gender       :  Male
Age          :  39
City         :  Chennai
Designation  :  IT Guy
Department   :  IT
Organisation :  WellsFargo
Salary       :  55000

In [38]:
emp2.show_details()

The details are :
Employee ID  :  102
First name   :  Madhu
Last name    :  Vidhya
Gender       :  Female
Age          :  25
City         :  Chennai
Designation  :  HR
Department   :  Talent Acquisition
Organisation :  Gen Digital
Salary       :  30000

In [39]:
emp2.update_city('Karachi')

The city for Madhu Vidhya has been updated to Karachi

In [40]:
emp2.city

'Karachi'

In [41]:
emp2.update_desg('Data Scientist')

The designation for Madhu Vidhya has been updated to Data Scientist

In [42]:
emp1.update_org('ISIS')

The organisation for Sachin Sethy has been updated to ISIS

In [43]:
emp1.organisation

'ISIS'

In [45]:
emp2.update_salary(20000)

The salary for Madhu Vidhya has been updated to 20000

In [46]:
emp2.increase_salary(5)

The salary for Madhu Vidhya has been increased by 5%
The new salary after the raise is :  21000.0

In [47]:
emp1.decrease_salary(20)

The salary for Sachin Sethy has been decreased by 20%
The new salary after the decrement is :  44000.0

In [48]:
emp1.show_details()

The details are :
Employee ID  :  101
First name   :  Sachin
Last name    :  Sethy
Gender       :  Male
Age          :  39
City         :  Chennai
Designation  :  IT Guy
Department   :  IT
Organisation :  ISIS
Salary       :  44000.0

In [49]:
emp2.show_details()

The details are :
Employee ID  :  102
First name   :  Madhu
Last name    :  Vidhya
Gender       :  Female
Age          :  25
City         :  Karachi
Designation  :  Data Scientist
Department   :  Talent Acquisition
Organisation :  Gen Digital
Salary       :  21000.0

---------------------------------------------------------------------------------
----------

In [50]:
# Inheritance
class Employee2(Employee):
    pass

In [52]:
employee1 = Employee2(103, 'Archana', 'Sonone', 'Female', 65, 'Nagpur', 'NOC engineer', 'Networking', 'LnT', 30000)

In [53]:
employee1.show_details()

The details are :
Employee ID  :  103
First name   :  Archana
Last name    :  Sonone
Gender       :  Female
Age          :  65
City         :  Nagpur
Designation  :  NOC engineer
Department   :  Networking
Organisation :  LnT
Salary       :  30000