## What is a function?
- Function is a group of statements that performs a specific task.
- A function is a collection of statements grouped together that performs an operation. When you call the *random.randint(a, b)* function, for example, the system actually executes the statements in the function and returns the result.

## Advantages of Functions:

- Makes your code more organized and manageable.
- Ensures resuability, avoids code redundency.

In [3]:
# Example to understand how functions ensure reusability
# Take three numbers as input and print the largest number(repeat the task for three different groups)
num1,num2,num3 = list(map(int,input('Enter the marks of three students : ').split()))

if num1 > num2 and num1 > num3:
    largest = num1
elif num2 > num3:
    largest = num2
else:
    largest = num3
    
print('The largest for first group is : ', largest)

# Second group
num1,num2,num3 = list(map(int,input('Enter the marks of three students : ').split()))

if num1 > num2 and num1 > num3:
    largest = num1
elif num2 > num3:
    largest = num2
else:
    largest = num3
    
print('The largest for second group is : ', largest)

#Third Group
num1,num2,num3 = list(map(int,input('Enter the marks of three students : ').split()))

if num1 > num2 and num1 > num3:
    largest = num1
elif num2 > num3:
    largest = num2
else:
    largest = num3
    
print('The largest for third group is : ', largest)

Enter the marks of three students : 80 90 95
The largest for first group is :  95
Enter the marks of three students : 90 85 92
The largest for second group is :  92
Enter the marks of three students : 85 80 75
The largest for third group is :  85

In [4]:
# Creating a function
def largest3(num1, num2, num3):
    if num1 > num2 and num1 > num3:
        largest = num1
    elif num2 > num3:
        largest = num2
    else:
        largest = num3
    return largest

In [5]:
num1,num2,num3 = list(map(int,input('Enter the marks of three students : ').split()))
largest = largest3(num1, num2, num3)
print('The largest for first group is : ', largest)

num1,num2,num3 = list(map(int,input('Enter the marks of three students : ').split()))
largest = largest3(num1, num2, num3)
print('The largest for second group is : ', largest)

num1,num2,num3 = list(map(int,input('Enter the marks of three students : ').split()))
largest = largest3(num1, num2, num3)
print('The largest for third group is : ', largest)

Enter the marks of three students : 90 90 95
The largest for first group is :  95
Enter the marks of three students : 80 85 90
The largest for second group is :  90
Enter the marks of three students : 85 81 80
The largest for third group is :  85

# Functions
- Inbuilt Functions and User Defined Functions
- How to create a function
- Return
- Parameters and Arguments
- Default Parameters
- Positional and Keyword arguments
- Args and Kwargs

-----
- map
- filter
- zip
- lambda expressions

In [6]:
'''
def function_name(param1, param2.....):
    statement1
    statement2
    ..........
    return result
'''
# Function to add two numbers
def add2(num1, num2):
    result = num1 + num2
    return result                   # Returns the result back

In [8]:
# Calling a function
result = add2(5,6)
print(result)

11

In [9]:
add2(10,20)

30

In [10]:
def add2(num1, num2):
    return num1 + num2

In [11]:
add2(10,15)

25

In [12]:
def add2(num1, num2):
    print('The sum is : ', num1 + num2)          # Print the sum

In [13]:
add2(10,30)

The sum is :  40

In [15]:
result = add2(20,30)      # The function is returning nothing (None)

The sum is :  50

In [18]:
result

In [17]:
type(result)                   # result has nothing (None)

NoneType

In [19]:
# A function that has no parameters and no return statement
def hello():
    print('Hello everyone')
    print('This is a function that does not have any parameters')
    print('This function returns nothing(None)')

In [20]:
hello()

Hello everyone
This is a function that does not have any parameters
This function returns nothing(None)

In [21]:
# Create a function that checks whether a number is even or odd (print even if the number is even else print odd)
def even_odd(num):     # The scope of parameters and variables created inside a function is limited to that function only
    if num % 2 == 0:
        print(num, 'is an even number')
    else:
        print(num, 'is an odd number')

In [22]:
even_odd(5)              # Here 5 is an argument , num is the function definition is a parameter

5 is an odd number

In [23]:
a = int(input('Enter the number : '))
even_odd(a)              # Here a is an argument , num is the function definition is a parameter

Enter the number : 14
14 is an even number

In [25]:
# Create a function which takes a number and prints whether the number is divisible is by 2 or 3 or both
def check_div2and3(num):
    if num % 2 == 0 and num % 3 == 0:
        print('{} is divisible by both 2 and 3'.format(num))
    elif num % 2 == 0:
        print('{} is divisible by 2 only'.format(num))
    elif num % 3 == 0:
        print('{} is divisible by 3 only'.format(num))
    else:
        print('{} is not divisible by 2 and 3'.format(num))

In [30]:
check_div2and3(6)

6 is divisible by both 2 and 3

In [31]:
# Create a function which takes three numbers and return the largest
def largest3(num1, num2, num3):
    if num1 > num2 and num1 > num3:
        largest = num1
    elif num2 > num3:
        largest = num2
    else:
        largest = num3
    return largest

In [32]:
largest3(90,80,85)

90

In [39]:
# Create a function that takes marks of two students in 5 subjects each as a list
# Return a list containing the absolute difference in marks of each subject
def compare_marks(marks1, marks2):
    if len(marks1) != 5 or len(marks2) != 5:
        print('The lists should have marks in five subjects')
        return
    diff = []
    for i in range(len(marks1)):
        diff.append(abs(marks1[i] - marks2[i]))
    return diff

In [42]:
compare_marks([90,80,75,85,95], [70,95,80,82,85])

The lists should have marks in five subjects

In [49]:
# Create a function that takes two strings having same number of words
# Return a list having absolute difference in lengths of correspondng words
def compare_strings(s1, s2):
    words1 = s1.split()
    words2 = s2.split()
    if len(words1) != len(words2):
        print('The strings should have same number of words')
        return
    
    diff = []
    for i in range(len(words1)):
        diff.append(abs(len(words1[i]) - len(words2[i])))
    return diff

In [52]:
compare_strings('Hello everyone', 'Good morning')

[1, 1]

## Default Parameters

In [56]:
'Hello Everyone'.split()              # Whitespace is sdefault parameter

['Hello', 'Everyone']

In [57]:
'Hello Everyone'.split('o')

['Hell', ' Every', 'ne']

In [58]:
def divide(num1, num2):
    return num1/num2

In [59]:
divide(10,5)

2.0

In [60]:
divide(10)

TypeError: divide() missing 1 required positional argument: 'num2'

In [61]:
def divide(num1, num2 = 1):     # By default num2 will be 1 , if user provides a value that value will be taken
    return num1 / num2

In [62]:
divide(10,5)

2.0

In [63]:
divide(10)

10.0

In [64]:
def divide(num1 = 1, num2):     # Parameters with default value are not allowed before parameters without default value
    return num1/num2

SyntaxError: non-default argument follows default argument (<ipython-input-64-036de0d1c7b0>, line 1)

In [65]:
def divide(num1 = 1, num2 = 1):
    return num1/num2

In [66]:
divide()

1.0

In [67]:
divide(10)

10.0

In [68]:
divide(10,5)

2.0

In [101]:
# Create a function that takes a string and a charcater
# The function should return a list after splitting the string based on the character
# The default value for the splitting character should be whitespace
def split_string(s, c = ' '):
    words = []
    start = 0
    for i in range(len(s)):
        if s[i] == c:
            words.append(s[start:i])
            start = i + 1
    words.append(s[start:i+1])
    return words

In [104]:
split_string('Hello Good day')

['Hello', 'Good', 'day']

In [103]:
split_string('Hello Good day', 'G')

['Hello ', 'ood day']

## Positional and Keyword arguments

In [69]:
def details(name, age, city, salary):
    print('The details are : ')
    print('Name   :', name)
    print('Age    :', age)
    print('City   :', city)
    print('Salary :', salary)

In [70]:
details('Abhishek', 35, 'Delhi', 60000)   # Positional arguments

The details are :
Name   : Abhishek
Age    : 35
City   : Delhi
Salary : 60000

In [71]:
details(name = 'Anitha', age = 36, city = 'Kolkata', salary = 80000)    # Keyword arguments

The details are :
Name   : Anitha
Age    : 36
City   : Kolkata
Salary : 80000

In [72]:
details(age = 36, salary = 80000, name = 'Anitha', city = 'Kolkata')

The details are :
Name   : Anitha
Age    : 36
City   : Kolkata
Salary : 80000

In [73]:
details(36, 80000, 'Anitha', 'Kolkata')

The details are :
Name   : 36
Age    : 80000
City   : Anitha
Salary : Kolkata

## Variable arguments and Variable keyword arguments (args and kwargs)

In [74]:
def add(num1, num2):
    return num1 + num2

In [75]:
add(2,3)

5

In [76]:
add(2,3,4)

TypeError: add() takes 2 positional arguments but 3 were given

In [79]:
# args (Variable arguments)
def example(*args):
    print(args)
    print(type(args))
    
example(1,2,3,4)

(1, 2, 3, 4)
<class 'tuple'>

In [82]:
def add(*nums):
    result = 0
    for i in nums:
        result = result + i
    return result

In [83]:
add(1,2,3)

6

In [84]:
add(3,3)

6

In [85]:
add(5,7,8,9,5,4,3,2,1,5,6,7,8,9)

79

In [86]:
# kwargs (variable keyword arguments)
def example(**kwargs):
    print(kwargs)
    print(type(kwargs))
    
example(num1 = 55, num2 = 66)

{'num1': 55, 'num2': 66}
<class 'dict'>

In [87]:
def person(**details):
    print('The deatils are : ')
    for key,value in details.items():
        print(key, ':', value)

In [88]:
person(fname = 'Babulal', age = 68)

The deatils are :
fname : Babulal
age : 68

In [89]:
person(fname = 'Babulal', lname = 'Gurjar', age = 68, gender = 'male')

The deatils are :
fname : Babulal
lname : Gurjar
age : 68
gender : male

# ========================================================

## map, filter, zip

# map
- The map function takes two arguments
    - First argument : a function
    - Second argument : an iterable object (eg. list, tuple, string)
- The map applies the given function to all elements of the iterable object

- **map(func, list1)** : func will be applied to all elements of list1

In [1]:
def square(num):
    return num ** 2

In [2]:
nums = [1,2,3,4,5,6]
for i in range(len(nums)):
    nums[i] = square(nums[i])
nums

[1, 4, 9, 16, 25, 36]

In [4]:
nums = [1,2,3,4,5,6]
list(map(square, nums))

[1, 4, 9, 16, 25, 36]

In [5]:
# given a list of numbers calculate cubes for odd numbers and squares for even numbers
nums = [1,3,4,7,9,3,4,8,6,5]
def sqrs_cubes(num):
    if num % 2 == 0:
        return num ** 2
    else:
        return num ** 3

In [6]:
list(map(sqrs_cubes, nums))

[1, 27, 16, 343, 729, 27, 16, 64, 36, 125]

In [7]:
nums = ['78', '85', '90']
list(map(int, nums))

[78, 85, 90]

In [8]:
# Taking multiple numbers as input
a,b,c = list(map(int, input('Enter three numbers : ').split()))
print(a,b,c)

Enter three numbers : 78 85 90
78 85 90

In [9]:
# Taking a list of numbers as input
l = list(map(int, input('Enter three numbers : ').split()))
print(l)

Enter three numbers : 78 85 90
[78, 85, 90]

In [10]:
# Given a string return a list which contains the length of each word
s = 'Hello everyone welcome to the session'
list(map(len, s.split()))

[5, 8, 7, 2, 3, 7]

In [18]:
# Given a list containing marks of 5 students in 3 subjects each
# Return a list having average score of each student
marks = [[90,80,85], [95,90,92], [80,85,82], [75,72,76], [82,85,81]]
def calc_avg(nums):
    average = sum(nums)/len(nums)
    average = round(average, 2)
    return average

In [19]:
list(map(calc_avg, marks))

[85.0, 92.33, 82.33, 74.33, 82.67]

In [15]:
# round function rounds of a given float to given number of digits after decimal
a = 89.75648953
round(a, 3)

89.756

# Filter
- The filter function returns an iterator yielding those items of iterable for which function(item) is true. Meaning you need to filter by a function that returns either True or False. Then passing that into filter (along with your iterable) and you will get back only the results that would return True when passed to the function.

In [23]:
def check_even(num):
    return num % 2 == 0

In [25]:
nums = [1,2,6,8,3,5]
list(filter(check_even, nums))

[2, 6, 8]

In [26]:
# Given a list of numbers, keep only those elements which are divisible by 5 or 4
nums = [10,12,13,7,15,14]
def div_5or4(num):
    return (num % 5 == 0) or (num % 4 == 0)

In [27]:
list(filter(div_5or4, nums))

[10, 12, 15]

In [28]:
# Given a list containing marks of 5 students in 3 subjects each
# Return a list having only those lists wgere average scorew is more than 80
marks = [[90,80,85], [95,90,92], [70,85,72], [75,72,76], [82,85,81]]
def check_avg(nums):
    average = sum(nums)/len(nums)
    return average > 80

In [29]:
list(filter(check_avg, marks))

[[90, 80, 85], [95, 90, 92], [82, 85, 81]]

In [32]:
# Given a string return a list having words with odd length
s = 'Hello everyone good morning welcome to the session'
def check_odd_length(s):
    return len(s) % 2 != 0

In [33]:
list(filter(check_odd_length, s.split()))

['Hello', 'morning', 'welcome', 'the', 'session']

# zip

In [34]:
nums1 = [10,20,30,40,50]
nums2 = [1,2,3,4,5]

list(zip(nums1, nums2))

[(10, 1), (20, 2), (30, 3), (40, 4), (50, 5)]

In [37]:
icecreams = ['Butterscotch', 'Chocolate', 'Vanilla']
nums = [5, 4, 6]
prices = [100, 70, 60]

list(zip(icecreams, nums, prices))

[('Butterscotch', 5, 100), ('Chocolate', 4, 70), ('Vanilla', 6, 60)]

In [38]:
nums1 = [10,20,30,40,50,60,70]
nums2 = [1,2,3,4,5]

list(zip(nums1, nums2))

[(10, 1), (20, 2), (30, 3), (40, 4), (50, 5)]

In [39]:
num % 4 == 0 or num % 5 == 0

NameError: name 'num' is not defined

# Counter

In [1]:
from collections import Counter

In [3]:
nums = [1,2,4,3,2,4,3,4,5,5,6,7,8,9,9,8,6,4,5,3,4,4,4,5,5,6,6,7,7,7,8]
freq = Counter(nums)
freq

Counter({1: 1, 2: 2, 4: 7, 3: 3, 5: 5, 6: 4, 7: 4, 8: 3, 9: 2})

In [4]:
s = 'Hello everyone good morning'
freq = Counter(s)
freq

Counter({'H': 1,
         'e': 4,
         'l': 2,
         'o': 5,
         ' ': 3,
         'v': 1,
         'r': 2,
         'y': 1,
         'n': 3,
         'g': 2,
         'd': 1,
         'm': 1,
         'i': 1})

In [5]:
s = 'billo bagge billeya da ki karegi bagge bagge billeya da ki karegi'
freq = Counter(s.split())
freq

Counter({'billo': 1, 'bagge': 3, 'billeya': 2, 'da': 2, 'ki': 2, 'karegi': 2})

---
# Lambda Expressions

In [41]:
'''
def square(num):
    return num ** 2
'''
lambda num : num ** 2

'\ndef square(num):\n    return num ** 2\n'

In [42]:
sq = lambda num : num ** 2
sq(2)

4

In [43]:
sq(4)

16

In [44]:
add = lambda num1, num2 : num1 + num2
add(5,6)

11

In [45]:
'''
def sqrs_cubes(num):
    if num % 2 == 0:
        return num ** 2
    else:
        return num ** 3
'''
even_odd = lambda num : num ** 2 if num % 2 == 0 else num ** 3
even_odd(4)

16

In [46]:
nums = [1,2,3,4,5,6,7,8,9]
list(map(lambda num : num ** 2, nums))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [47]:
nums = [1,2,3,4,5,6]
list(map(lambda num : num ** 2 if num % 2 == 0 else num ** 3, nums))

[1, 4, 27, 16, 125, 36]

In [53]:
nums = [1,2,3,4,5,6,7,8,9]
list(filter(lambda num : num % 2 == 0, nums))

[2, 4, 6, 8]

In [54]:
nums = [1,2,3,4,5,6,7,8,9]
list(filter(lambda num : num % 2 != 0, nums))

[1, 3, 5, 7, 9]

In [56]:
# Given a string return a list having words with odd length
s = 'Hello everyone good morning welcome to the session'
list(filter(lambda word : len(word) % 2 != 0, s.split()))

['Hello', 'morning', 'welcome', 'the', 'session']